<div class="container">
  <div>
    <h4 class="center">Liste des partenaires</h4>
    <span>
      <a class="waves-effect waves-light" routerLink="/admin/partenaire/ajouter" routerLinkActive="active">
        Ajouter un partenaire
      </a>
    </span>
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Lien</th>
          <th>Logo</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partner of partnersList">
          <td>{{ partner.name }}</td>
          <td>{{ partner.lien }}</td>
          <td><img [src]="partner.logo" alt="{{ partner.name }}" /></td>
          <td>{{ partner.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
