<!-- <div class="divider"></div> -->
<div class="section valign-wrapper black white-text">
  <div class="center-align" style="width: 100%">
    <h1 class="orange-text">Vintage Auto 83</h1>
    <h4>Qui sommes nous ?</h4>
    <div class="element-divider"></div>
    <p>
      Notre club est un endroit unique dans les environs de Toulon pour les
      passionées de véhicules anciens et de youngtimers. Ici vous pourrez :
    </p>
    <div class="container">
      <div class="row">
        <div class="col s4">
          <i class="material-icons">settings</i>
          <p>bla</p>
        </div>
        <div class="col s4">
          <i class="material-icons">build</i>
          <p>blabla</p>
        </div>
        <div class="col s4">
          <i class="material-icons">palette</i>
          <p>blablabla</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="section">
  <h1 class="center">Photos</h1>
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="" /></a>
    <a class="carousel-item" href="#two!"><img src="" /></a>
    <a class="carousel-item" href="#three!"><img src="" /></a>
    <a class="carousel-item" href="#four!"><img src="" /></a>
  </div>
</div>

<div class="divider"></div>

<div class="section black white-text">
  <h1 class="center">Contact</h1>
  <div class="valign-wrapper">
    <div class="row" style="width: 90%">
      <div class="col s4 center">
        <h4 class="left-align">Coordonnées</h4>
        <ul class="left-align">
          <h5>Adresse :</h5>
          <li>200 chemin de la Juliette, 83190 Ollioules</li>
          <h5>Téléphone :</h5>
          <li>06 67 13 84 35</li>
          <h5>Email :</h5>
          <li>vintageauto83&#64;gmail.com</li>
        </ul>
      </div>
      <div class="col s4 center">
        <h4 class="center">Horaires</h4>
        <ul class="center">
          <li>lundi > 9h-18h</li>
          <li>mardi > 9h-18h</li>
          <li>mercredi > 9h-18h</li>
          <li>jeudi > 9h-18h</li>
          <li>vendredi > 9h-18h</li>
          <li>samedi > sur rendez-vous</li>
          <li>dimanche > fermé</li>
        </ul>
      </div>
      <div class="col s4 center">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=200+Chem.+de+la+Juliette,83190+Ollioules,France,CA&zoom=14&size=400x400&markers=color:red%7Clabel:V%7C43.121459,5.886218&key=AIzaSyCOo7SnpRchFxKlWwLvuTzg98bRuADGceY">
      </div>
    </div>
  </div>
</div>
