<div class="contact-wrapper flex-center">
  <div class="container ">
    <div class="row">
      <div class="col s12 m12 l12">
        <h2 class="header">Où nous joindres ?</h2>
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://materializecss.com/images/sample-1.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content flex-center">
              <ul>
                <li class="li-contact valign-wrapper">
                  <i class="material-icons">location_on</i>
                   1234 Rue de la rue, Montréal, QC H3H 2H2
                </li>
                <li class="li-contact valign-wrapper">
                  <i class="material-icons">phone</i>
                   06 06 06 06 06
                </li>
                <li class="li-contact valign-wrapper">
                  <i class="material-icons">email</i>
                   vintageauto83&#64;gmail.com
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
