<div class="contact-wrapper flex-center">
  <div class="container ">
    <div class="row">
      <div class="col s12 m12 l12">
        <h2 class="header">Où nous joindres ?</h2>
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://materializecss.com/images/sample-1.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content flex-center">
              <ul>
                <li class="li-contact center">
                  <p class="contact-name orange-text">{{ contact.name }}</p>
                </li>
                <li class="li-contact valign-wrapper">
                  <i class="material-icons">location_on</i>
                  <p>{{ contact.address }}</p>
                </li>
                <li class="li-contact valign-wrapper">
                  <i class="material-icons">phone</i>
                  <p>{{ contact.phone }}</p>
                </li>
                <li class="li-contact valign-wrapper">
                  <i class="material-icons">email</i>
                  <p>{{ contact.email }}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
