<div class="benefit-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m10 l8 offset-m1 offset-l2">
        <table>
          <thead>
            <tr>
              <th>Service</th>
              <th>Description</th>
              <th>Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let benefit of benefitList">
              <td>{{ benefit.title }}</td>
              <td>{{ benefit.description }}</td>
              <td>{{ benefit.cost }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
