<div class="container">
  <div>
    <h4 class="center">Liste des partenaires</h4>
    <span>
      <a class="waves-effect waves-light" routerLink="/admin/service/ajouter" routerLinkActive="active">
        Ajouter un service
      </a>
    </span>
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Lien</th>
          <th>Logo</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of serviceList">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
