<nav class="sidenav sidenav-fixed blue-grey darken-3">
  <ul class="white-text">
    <li><a routerLink="/admin/users" routerLinkActive="active">Utilisateurs</a></li>
    <li><a routerLink="/admin/photos" routerLinkActive="active">Photos</a></li>
    <li><a routerLink="/admin/services" routerLinkActive="active">Services</a></li>
    <li><a routerLink="/admin/partners" routerLinkActive="active">Partenaires</a></li>
    <li><a routerLink="/admin/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>

<div class="back-office-wrapper">
  <main>
  </main>
</div>
