<nav class="sidenav sidenav-fixed blue-grey darken-3">
  <ul class="white-text">
    <h4 class="center">Menu</h4>
    <div class="divider"></div>
    <li>
      <a routerLink="/admin/users" routerLinkActive="active">Utilisateurs <i class="material-icons right">people</i></a>
    </li>
    <li>
      <a routerLink="/admin/photos" routerLinkActive="active">Photos <i class="material-icons right">photo</i></a>
    </li>
    <li>
      <a routerLink="/admin/services" routerLinkActive="active">Services <i class="material-icons right">build</i></a>
    </li>
    <li>
      <a routerLink="/admin/partenaires" routerLinkActive="active">Partenaires <i class="material-icons right">public</i></a>
    </li>
    <li>
      <a routerLink="/admin/contact" routerLinkActive="active">Contact <i class="material-icons right">map</i></a>
    </li>
    <div class="divider"></div>
    <a class="logout-btn" (click)="logout()">Se déconnecter</a>
  </ul>
</nav>

<div class="back-office-wrapper">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
