<div class="row login-wrapper">
  <div class="col s12 m4 offset-m4">
    <div class="card hoverable">
      <div class="card-content center">
        <h4>Vintage Auto 83</h4>
        <span class="card-title">Page de connexion</span>
        <p>
          <em>{{ message }}</em>
        </p>
      </div>
      <form #loginForm="ngForm">
        <div class="center margin">
          <label class="left custom-text" for="username">Username :</label>
          <input
            class="custom-input center grey lighten-5 custom-text"
            type="text"
            id="username"
            [(ngModel)]="username"
            name="username"
            required
          />
        </div>
        <div class="center margin">
          <label class="left custom-text" for="password">Password :</label>
          <input
            class="custom-input center grey lighten-5 custom-text"
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
      </form>
      <div class="card-action center">
        <a
          (click)="login()"
          class="waves-effect waves-light btn grey darken-4"
          *ngIf="!authService.isLoggedIn"
          >Se connecter</a
        >
        <a (click)="logout()" *ngIf="authService.isLoggedIn">Se déconnecter</a>
      </div>
    </div>
  </div>
</div>
