.login-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

.custom-input {
  width: 50% !important;
  height: auto !important;
  border: none !important;
  margin: 0 !important;
}

.margin {
  margin: 18px;
  display: flex;
  justify-content: center;
}

.custom-text {
  font-size: 18px !important;
  color: black;
}
