<div class="container">
  <div>
    <h4 class="center">Liste des partenaires</h4>
    <span>
      <a class="waves-effect waves-light" routerLink="/admin/service/ajouter" routerLinkActive="active">
        Ajouter un service
      </a>
    </span>
    <table>
      <thead>
        <tr>
          <th>Service</th>
          <th>Description</th>
          <th>Prix</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let benefit of benefitList">
          <td>{{ benefit.name }}</td>
          <td>{{ benefit.description }}</td>
          <td>{{ benefit.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
