<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l8">
        <h4>Qui sommes-nous ?</h4>
        <p>
          Nous sommes un club de véhicules anciens et de collection,
          que ce soit moto ou voiture. Nous adorons toutes les anicennes,
          de classics à youngtimers, quelque soient leurs nationalités ...
        </p>
      </div>
      <div class="col s12 m4 l4">
        <h4>Que proposons nous ?</h4>
        <p>
          Nous proposons des sorties, des rencontres, des rassemblements,
          mais aussi des locaux pour l'entretien et la restauration de vos
          véhicules. Nous avons aussi des partenariats avec des professionnels.
          Nous proposons aussi des solutions de remorquage et de gardiennage.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="card">
                <div class="card-image">
                  <img src="assets/panoramique.png">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="card-image">
                  <img src="assets/panoramique.png">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="card-image">
                  <img src="assets/panoramique.png">
                </div>
              </div>
            </div>
          </div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev orange-text"></div>
          <div class="swiper-button-next orange-text"></div>

        </div>
      </div>
    </div>
  </div>
</div>
